.header{
    /* color-scheme: light dark; */
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
    padding: 0 50px;
    height: 80px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}